body {
    display: flex;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Main container */
#maingrid {
    display: flex;
    height: 545px;
    justify-content: center;
    flex-direction: column;
    border: 23px solid black;
    border-radius: 10px;
    padding: 15px;
    gap: 4px;
    background-color: rgb(189, 186, 186);
}

/*Calculator display */
#display {
    display: flex;
    height: 65px;
    font-size: 50px;
    font-weight: bolder;
    flex-direction: row-reverse;
    align-items: flex-end;
    background-color: rgb(91, 89, 89);
    max-width: 344px;
    overflow-x: auto;
}

#upperdisplay {
    display: flex;
    height: 35px;
    font-size: 25px;
    font-weight: bolder;
    background-color: rgb(91, 89, 89);
    max-width: 344px;
    overflow-x: auto;
    flex-direction: row-reverse;
    align-items: center;
}

#displaycontainer {
    border: 4px solid black;
    border-radius: 5px;
}
/* Button animation */

.number:hover {
    background-color: rgb(239, 215, 174);
}

.number:active {
    background-color: rgb(239, 215, 174);
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}

#zeroNum:hover {
    background-color: rgb(239, 215, 174);
}

#zeroNum:active {
    background-color: rgb(239, 215, 174);
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}

.clear:hover {
    background-color: rgb(121, 119, 116);
}

.clear:active {
    background-color: rgb(121, 119, 116);
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}

.operator:hover,
.equal:hover,
.delete:hover,
.deci:hover {
    background-color: rgb(246, 166, 102);
}

.operator:active,
.equal:active,
.delete:active,
.deci:active {
    background-color: rgb(246, 166, 102);
    box-shadow: 0 4px #666;
    transform: translateY(3px);
}

/*Button style */
.clear,
.number,
.operator,
.equal,
.delete,
.deci {
    height: 85px;
    width: 85px;
    border: 1px solid black;
    gap: 4px;
    font-size: 30px;
    border-radius: 5px;
}

/*Button background color */
.operator,
.equal,
.delete,
.deci {
    background-color: rgb(238, 121, 25);
}

.number { 
    background-color: rgb(236, 201, 139);
}

.clear {
    background-color: rgb(107, 106, 106);
}

/*Zero button width css */
#zeroNum {
    width: 174px;
    background-color: rgb(236, 201, 139);
}


/*Containers for button rows */
#rowtwo,
#rowthree,
#rowfour {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

#rowone,
#rowfive {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}



